.card-brand {
    position :relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: red;
    padding: 20px;
}