$fa-font-path: "../node_modules/font-awesome/fonts";
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

//Photon Imports
@import './sass/mixins.scss';
@import './sass/variables.scss';
@import './sass/utilities.scss';
@import './sass/base.scss';
@import './sass/bars.scss';
@import './sass/button-groups.scss';
@import './sass/buttons.scss';
//@import './sass/docs.scss';
@import './sass/forms.scss';
@import './sass/icons.scss';
@import './sass/images.scss';
@import './sass/lists.scss';
@import './sass/grid.scss';
@import './sass/navs.scss';
@import './sass/normalize.scss';
@import './sass/photon.scss';
@import './sass/tabs.scss';
@import './sass/tables.scss';
@import './split-pane.scss';

form {
    padding-top: 25px;
}

.formControlSize-md {
    width: 50%;
}
.formControlSize-xs {
    width: 25%;
}
.formControlSize-sm {
    width: 35%;
}
.formControlSize-lg {
    width: 80%;
}
.formControlSize-hg {
    width: 100%;
}

.formControlSize-md {
    width: 50%;
}

.container {
    margin-top: 20px;
}

.window .toolbar-header h1,h2,h3,h4,h5 {
    width: 100%;
}
.window .toolbar-footer h1,h2,h3,h4,h5 {
    width: 100%;
}

