$fa-font-path: "../node_modules/font-awesome/fonts";
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

//Photon Imports
@import './sass/mixins.scss';
@import './sass/variables.scss';
@import './sass/utilities.scss';
@import './sass/base.scss';
@import './sass/bars.scss';
@import './sass/button-groups.scss';
@import './sass/buttons.scss';
//@import './sass/docs.scss';
@import './sass/forms.scss';
@import './sass/icons.scss';
@import './sass/images.scss';
@import './sass/lists.scss';
@import './sass/grid.scss';
@import './sass/navs.scss';
@import './sass/normalize.scss';
@import './sass/photon.scss';
@import './sass/tabs.scss';
@import './sass/tables.scss';
@import './split-pane.scss';

//variables
$margin-gap-xs: 5px;
$margin-gap-sm: 15px;
$margin-gap-md: 25px;
$margin-gap-lg: 35px;
$margin-gap-hg: 55px;

//functions
@function getPixelForSize($size){
    @if $size == "xs" {
        @return $margin-gap-xs;
    }
    @if $size == "md" {
        @return $margin-gap-md;
    }
    @if $size == "lg" {
        @return $margin-gap-lg;
    }
    @if $size == "hg" {
        @return $margin-gap-hg;
    }
    @if $size == "na" {
        @return 0;
    }
}

//mixins
@mixin make-margin-gap($leftGap, $topGap, $rightGap, $bottomGap) {
    margin-left: getPixelForSize($leftGap);
    margin-right: getPixelForSize($rightGap);
    margin-top: getPixelForSize($topGap);
    margin-bottom: getPixelForSize($bottomGap);
}

@mixin make-padding-gap($leftGap, $topGap, $rightGap, $bottomGap) {
    padding-left: getPixelForSize($leftGap);
    padding-right: getPixelForSize($rightGap);
    padding-top: getPixelForSize($topGap);
    padding-bottom: getPixelForSize($bottomGap);
}

//styles
form {
    padding-top: 25px;
}

.formControlSize-md {
    width: 50%;
}
.formControlSize-xs {
    width: 25%;
}
.formControlSize-sm {
    width: 35%;
}
.formControlSize-lg {
    width: 80%;
}
.formControlSize-hg {
    width: 100%;
}

.formControlSize-md {
    width: 50%;
}

form .checkbox-label {
    margin-right: $margin-gap-sm;
    float: left!important;
}

//layout

.container {
    margin-top: 20px;
}

.window .toolbar-header h1,h2,h3,h4,h5 {
    width: 100%;
}
.window .toolbar-footer h1,h2,h3,h4,h5 {
    width: 100%;
}

table td {
    border-bottom: 1px solid $border-color
}
//gaps
.margin-xs {
    @include make-margin-gap("xs", "xs", "xs", "xs");
}
.margin-xs-left {
    @include make-margin-gap("xs", "na", "na", "na");
}
.margin-xs-right {
    @include make-margin-gap("na", "na", "xs", "na");
}

.padding-xs {
    @include make-padding-gap("xs", "xs", "xs", "xs");
}
.padding-xs-left {
    @include make-padding-gap("xs", "na", "na", "na");
}
.padding-xs-right {
    @include make-padding-gap("na", "na", "xs", "na");
}
